{layout "../appLayout.latte"}
{block content}
	{include "headquartersMenu.latte"}

	{ifset $towns}
		<table class="table table-condensed table-hover table-bordered">
			<thead>
			<tr>
				<th>{_templates.towns.registeredCount}</th>
				<th>{_templates.towns.city}</th>
			</tr>
			</thead>
			<tbody>

			{foreach $towns as $townList}
				<tr>
                    <td>{$townList['city']}</td>
					<td>{$townList['1']}</td>
				</tr>
			{/foreach}
			</tbody>
		</table>
	{/ifset}
{/block}
