{block content}
<div class="well">
    <h3>Děkujeme za váš zájem</h3>
    <p class="alert alert-success">
        V některých lokalitách máme spoustu zájemců a musíme počty jednotlivých dobrovolníků vybalancovat. Počkejte
        prosím na aktivaci vašeho účtu - dozvíte se o ní tak, že vám přijde e-mail s přihlašovacími údaji.
    </p>
</div>