{block content}
<div class="well">
    <h3>{_templates.registrationFinished.thanksTitle}</h3>
    <p class="alert alert-success">{_templates.registrationFinished.thanksDescription|noescape}</p>
</div>
