{block content}
<div class="row justify-content-center thank-you-need-help">
    <div class="col-12">
        <h1 class="text-center">Děkujeme, že jste se svěřili do rukou Sousedské&nbsp;pomoci.</h1>
        <p class="text-center">Uložili jsme si co potřebujete a náš dispečer se vám co nejdříve ozve. <span class="block color--purple">Zatím si můžete skrátiť čekání sdílením naší stránky, ať pomůžeme co nejvíce lidem v nouzi.</span></p>
    </div>
    <iframe src="https://www.facebook.com/plugins/share_button.php?href=https%3A%2F%2Fwww.facebook.com%2FSousedskapomoc.cz%2F&layout=button_count&size=large&appId=536970146994011&width=107&height=28" width="107" height="28" style="border:none;overflow:hidden" scrolling="no" frameborder="0" allowTransparency="true" allow="encrypted-media"></iframe>
</div>
