{block content}
<div class="row justify-content-center thank-you-need-help">
    <div class="col-12">
        <h1 class="text-center">{_templates.confirmationPageD.thanks}</h1>
        <p class="text-center">{_templates.confirmationPageD.savedAndHandedToDispatch} <span class="block color--purple">{_templates.confirmationPageD.shareOurWeb}</span></p>
    </div>
    <iframe src="https://www.facebook.com/plugins/share_button.php?href=https%3A%2F%2Fwww.facebook.com%2FSousedskapomoc.cz%2F&layout=button_count&size=large&appId=536970146994011&width=107&height=28" width="107" height="28" style="border:none;overflow:hidden" scrolling="no" frameborder="0" allowTransparency="true" allow="encrypted-media"></iframe>
</div>
