#
# WARNING: it is CRITICAL that this file & directory are NOT accessible directly via a web browser!
# https://nette.org/security-warning
#
parameters:


application:
	errorPresenter: Error
	mapping:
		*: SousedskaPomoc\*Module\Presenters\*Presenter

mail:
	smtp: true  # use SmtpMailer instead of SendmailMailer
	host: ''
	port: 465
	username: ''
	password: ''
	secure: ssl # possible values are ssl, tls or null


session:
	expiration: 14 days

services:
	- SousedskaPomoc\Model\OrderManager
	- SousedskaPomoc\Model\UserManager
	- SousedskaPomoc\Forms\FormFactory
	- SousedskaPomoc\Forms\SignInFormFactory
	- SousedskaPomoc\Forms\SignUpFormFactory
	- SousedskaPomoc\Components\Mail
	router: SousedskaPomoc\Router\RouterFactory::createRouter
