parameters:
	mail:
		fromMail: 'robot@sousedskapomoc.cz'
		fromName: 'Sousedská pomoc'

application:
	errorPresenter: Error
	mapping:
		*: SousedskaPomoc\*Module\Presenters\*Presenter

session:
	debugger: true
	expiration: 14 days

services:
	- SousedskaPomoc\Commands\QueueConsumeCommand
	- SousedskaPomoc\Model\EmailManager
	- SousedskaPomoc\Model\OrderManager
	- SousedskaPomoc\Model\UserManager
	- SousedskaPomoc\Forms\FormFactory
	- SousedskaPomoc\Forms\SignInFormFactory
	- SousedskaPomoc\Forms\SignUpFormFactory
	- SousedskaPomoc\Components\Mail

	- PhpAmqpLib\Connection\AMQPStreamConnection(%rabbit.host%, %rabbit.port%, %rabbit.user%, %rabbit.password%)

	emailQueue: SousedskaPomoc\Model\RabbitMqQueue('email')
	router: SousedskaPomoc\Router\RouterFactory::createRouter

	-
		factory: SousedskaPomoc\Model\EmailConsumer(@emailQueue, %mail.fromMail%, %mail.fromName%)
		tags: [consumer:email]

translation:
	debugger: true
	default: cs
	fallback: [cs_CZ, cs]

decorator:
	Symfony\Component\Console\Command\Command:
		inject: true

extensions:
	console: Contributte\Console\DI\ConsoleExtension(%consoleMode%)
	translation: Kdyby\Translation\DI\TranslationExtension
