parameters:

application:
	errorPresenter: Error
	mapping:
		*: SousedskaPomoc\*Module\Presenters\*Presenter

session:
	debugger: true
	expiration: 14 days

services:
	- SousedskaPomoc\Model\OrderManager
	- SousedskaPomoc\Model\UserManager
	- SousedskaPomoc\Forms\FormFactory
	- SousedskaPomoc\Forms\SignInFormFactory
	- SousedskaPomoc\Forms\SignUpFormFactory
	- SousedskaPomoc\Components\Mail
	router: SousedskaPomoc\Router\RouterFactory::createRouter

translation:
	debugger: true
	default: cs
	fallback: [cs_CZ, cs]

extensions:
	translation: Kdyby\Translation\DI\TranslationExtension
	nettrine.dbal: Nettrine\DBAL\DI\DbalExtension
	nettrine.orm: Nettrine\ORM\DI\OrmExtension
	nettrine.cache: Nettrine\Cache\DI\CacheExtension
	console: Contributte\Console\DI\ConsoleExtension(%consoleMode%)
	nettrine.orm.console: Nettrine\ORM\DI\OrmConsoleExtension(%consoleMode%)
	nettrine.annotations: Nettrine\Annotations\DI\AnnotationsExtension
	nettrine.orm.annotations: Nettrine\ORM\DI\OrmAnnotationsExtension

nettrine.orm.annotations:
    paths:
        - App/Entities
