<title>SousedskáPomoc.cz | Úspěšná registrace</title>
<body>
<div style="font-family: 'Helvetice Neue', Arial, sans-serif; font-size: 16px; line-height: 1.8;margin-bottom: 30px;color: #505050;">
    <h2>Děkujeme, že pomáháš s námi</h2>
    <p>Tvá registrace proběhla úspěšně.</p>
</div>
</body>