{layout "../appLayout.latte"}
{block content}

<h1>{_templates.profile.title}</h1>
<a n:href="System:enterTown" class="btn btn-primary btn-info">{_templates.profile.enterTown}</a>

<div class="col-md-12">
	{control editForm}
</div>
