{layout "../appLayout.latte"}
{block content}
<div class="row">
    <div class="col-12">
        <h1>{_templates.profile.title}</h1>
        <div class="row">
            {control editForm}
        </div>
    </div>
</div>
