postOrder:
    addressLabel: 'Adresa kam dovezeme nákup'
    addressRequired: 'Potřebujeme vědět kam máme nákup odvézt'
    addressPlaceholder: 'např. Palackého náměstí 1, Kolín'
    phonePlaceholder: 'Telefon na toho komu doručujeme'
    phoneLabel: 'např. 607 049 258'
    noteLabel: 'poznámka k nákupu (např. pro koho je určen pro snažší odlišení)'
    notePlaceholder: 'pro paní Novákovou'
    itemsLabel: 'Položky objednávky (oddělené ENTERem)'
    button: 'Vložit objednávku do systému'
registerCoordinator:
    nameLabel: 'Jméno a příjmení'
    nameRequired: 'Potřebujeme vědět vaše jméno'
    phoneLabel: 'Telefon'
    phoneRequire: 'Potřebujeme vědět váš telefon abychom vám mohli zavolat'
    mailLabel: 'E-mail'
    mailRequired: 'Potřebujeme znás váš e-mail kvůli registraci.'
    townLabel: 'Město kde chci pomáhat'
    townRequired: 'Potřebujeme vědět kde budete pomáhat'
    button: 'Zaregistrovat se'
    carLabel: 'Auto které mám k dispozici'
    carRequired: 'Potřebujeme vědět co uvezete'
