postOrder:
    pickupAddressLabel: 'Adresa kde vyzvedáváme'
    pickupAddressRequired: 'Potřebujeme vědět kde máme vyzvedávat'
    pickupAddressPlaceholder: 'např. Palackého náměstí 1, Kolín'
    addressLabel: 'Adresa kam vezeme'
    addressRequired: 'Potřebujeme vědět kam pojedeme'
    addressPlaceholder: 'např. Palackého náměstí 1, Kolín'
    phoneLabel: 'Telefon na toho komu doručujeme'
    phonePlaceholder: 'např. 607 049 258'
    noteLabel: 'poznámka k nákupu (např. pro koho je určen pro snažší odlišení)'
    notePlaceholder: 'pro paní Novákovou'
    itemsLabel: 'Položky objednávky (oddělené ENTERem)'
    button: 'Vložit objednávku do systému'
    courierNote: 'Poznámka kurýra'
    buttonCourierNote: 'Přidat poznámku'
    addressPick: 'Adresa vyzvednutí'
registerCoordinator:
    nameLabel: 'Jméno a příjmení'
    role: 'Pozice'
    nameRequired: 'Potřebujeme vědět vaše jméno'
    phoneLabel: 'Telefon'
    phoneRequired: 'Potřebujeme vědět váš telefon abychom vám mohli zavolat'
    mailLabel: 'E-mail'
    mailRequired: 'Potřebujeme znás váš e-mail kvůli registraci.'
    townLabel: 'Město kde chci pomáhat'
    townRequired: 'Potřebujeme vědět kde budete pomáhat'
    button: 'Zaregistrovat se'
    carLabel: 'Na/v čem budu doručovat'
    carRequired: 'Potřebujeme vědět co uvezete'
cars:
    small: 'malý osobní automobil (Škoda Citigo, VW eUP, Toyota Aygo)'
    big: 'větší osobní automobil (Škoda Octavia, VW Passat)'
    smallTruck: 'malý nákladní automobil (VW Caddy, Fiat Doblo)'
    bigTruck: 'větší nákladní automobil (Fiat Ducato, Mercedes Sprinter)'
    bike: 'jízdní kolo'
    motorcycle: 'motocykl'
    walk: 'pěšky'
changePassword:
    newPasswordLabel: 'Nové heslo'
    newPasswordRequired: 'Please fill out your new password'
    title: 'Nastavte si heslo'
sign:
    lostPassword: 'Zapomenuté heslo'
