sign:
    logout: 'Byl/a jste odhlášen/a'
    signIn: 'Přihlásit se k jinému účtu'
    signUp: 'Registruj se'
    loginInstead: 'Již jsi registrován/a? Přihlaš se.'
order:
    orderSuccess: 'Vaše objednávka byla uložena.'
    givenToCourier: 'Objednávka byla přiřazena kurýrovi'
    statusChanged: 'Stav objednávky byl změněn'
registration:
    success: 'Vaše registrace proběhla úspěšně.'
    fail: 'Zadaný e-mail již existuje'
update:
    fail: 'Zadany účet neexistuje'
couriersCount: 'Počet kurýrů'
operatorsCount: 'Počet dispečerů'
coordinatorsCount: 'Počet pečovatelů'
usersWithoutAccess: 'Počet neakt. účtů'
uniqueTowns: 'Počet unikátních měst'
ordersCount: 'Počet objednávek'