header:
    subtitle: 'pomozme si mezi sebou'
    title: 'SousedskaPomoc.cz - pomozme si mezi sebou'
    metaDescription: 'SousedskaPomoc.cz vznikla, abychom za pomoci dobrovolníků zajistili doručování potravin a léků lidem nejvíc ohroženým koronavirovou infekcí.'
    shortTitle: 'SousedskaPomoc.cz'
    about: 'SousedskaPomoc.cz je webová stránka sloužící k organizaci dobrovolníků pro doručování zboží lidem, kteří si na nákup nemohou nebo nesmějí dojít.'
    progress: 'Aktuálně jsme ve fázi kdy se <strong>můžete registrovat</strong> a během dnešního / zítřejšího dne dokončíme část pro operátory/dispečery a kurýry kterou následně zveřejníme.'
    recommendation: 'Pokud máte možnost objednat si potraviny on-line pomocí rozvozců jako <a href="https://rohlik.cz" target="_blank">Rohlík.cz</a>, <a href="https://kosik.cz" target="_blank">Košík.cz</a> nebo <a href="https://nakup.itesco.cz/" target="_blank">iTesco.cz</a> tak to <strong>prosím udělejte</strong> - naším cílem není nahrazovat tyto rozvozce ale nabídnout obdobnou službu na dobrovolnické bázi v lokalitě kam tito rozvozci nedoručují.'
    backOnMainPage: 'Zpět na hlavní stránku'
    keyWords: 'sousedská pomoc, dobrovolníci, senioři, pomoc seniorům'
    imgAlt: 'Sousedská pomoc'
    overview: 'Přehled'
    postDemand: 'Potřebuji pomoc'
    login: 'Přihlášení'
    registration: 'Registrace'
    logout: 'Odhlášení'
    mainTitle: 'SousedskaPomoc.cz vznikla, abychom za pomoci dobrovolníků zajistili doručování potravin a léků lidem nejvíc ohroženým koronavirovou infekcí.'
    mainSubtitle: 'Jedná se především o staré a nemocné lidi, kteří by v následujících dnech vůbec neměli vycházet z domu.'
    towns: 'Pro města a obce'
footer:
    disclaimer: 'Veškeré dotazy posílejte na e-mail <a href="mailto:info@sousedskapomoc.cz" target="_blank">info@sousedskapomoc.cz</a>, vytvořil <a href="https://twitter.com/hunaczech">Lukáš Huňka</a>'
    thankYou: 'Moc děkujeme všem, kteří se zapojí. Má to smysl!'
    questions: 'Veškeré dotazy posílejte na e-mail <a href="mailto:info@sousedskapomoc.cz" target="_blank">info@sousedskapomoc.cz</a>'
homepage:
    login: 'Přihlášení'
    register: 'Registrace'
    dashboard: 'Dashboard'
    logout: 'Odhlášení'
    howToHelp: 'Co mohu udělat pro své sousedy kteří si nemohou dojít nakoupit?'
    howToHelpDescription: 'Vzhledem k nouzovému stavu na území České Republiky a pandemii <a href="http://koronavirus.mzcr.cz/" target="_blank">Koronaviru</a> jsme se rozhodli vytvořit jednoduchý web který umožní organizovat dobrovolníky kteří chtějí pomoci.'
    info: 'Veškeré činnosti spojené s provozováním tohoto webu (kurýrní práce, práce operátora, vývoj) jsou prováděny BEZ NÁROKU na odměnu.'
    notif: '<p>Potřebujete zajistit roušky,<br />dojít nakoupit potraviny, léky nebo<br />jinou pomoc, a nemůžete opustit svůj domov?<br /></p><h2>800 88 55 99</h2><p>Volejte bezplatnou linku Sousedské pomoci!</p>'
    howItWork: 'Jak to funguje?'
    registerOnPosition: 'Registrujte se na vybranou pozici.'
    connectToVolunteers: 'Propojení s dobrovolníky'
    getAccess: 'Získáte přístup do naší aplikace, která vás propojí s dalšími dobrovolníky z vašeho města.'
    coordination: 'Koordinace'
    coordinationDescription: 'Přímo v aplikaci společně budete koordinovat vše potřebné – od zadání nákupu až po jeho doručení.'
    howCanIJoin: 'Jak se mohu zapojit?'
coordinator:
    title: 'Pečovatel'
    whatNeedTitle: 'Co musí mít:'
    whatNeedList: '<li>Počítač</li><li>Telefon</li><li>Organizační schopnosti</li>'
    howHelpTitle: 'Jak pomáhá:'
    howHelpList: '<li>Vyhledává lidi, kteří potřebují pomoci s nákupem.</li><li>Vytváří s nimi nákupní seznamy.</li><li>Zadává nákupní seznamy do systému.</li>'
    subtitle: 'stará se o hladký průběh pomoci, komunikuje s dispečerem'
    wannaJoin: 'Chci se stát pečovatelem'
    steps: 'Jako <strong>kordinátor</strong> bys měl najít: <ul> <li> lidi kteří musí zůstat doma nebo si nemohou dojít na nákup </li> <li> lidi kteří mají auto, mají řidičák a chuť pomáhat </li> <li> lidi kteří mají čas, telefon a chuť organizovat proces nákupu a jeho doručení </li> </ul>'
    whatYouNeed: '<h3>Co potřebuješ</h3><ul><li>Notebook nebo smartphone</li><li>Telefon</li><li>Organizační schopnosti</li></ul>'
    whatIsYourGoal: '<h3>Jaký je tvůj ůkol</h3><ul><li>Oslov je bezpečnou formou (ideálně telefonicky)</li><li>Vytvoř nákupní seznam a počkej na pokyny od operátora</li></ul>'
    callToActionButton: 'Chci být pečovatelem'
operator:
    title: 'Dispečer'
    subtitle: 'přiřazuje objednávky kurýrům a dohlíží na včasné doručení'
    wannaJoin: 'Chci se stát dispečerem'
    steps: 'Jako <strong>kurýr</strong> bys měl najít: <ul> <li> lidi kteří musí zůstat doma nebo si nemohou dojít na nákup </li> <li> lidi kteří mají auto, mají řidičák a chuť pomáhat </li> <li> lidi kteří mají čas, telefon a chuť organizovat proces nákupu a jeho doručení </li> </ul>'
    whatYouNeed: '<h3>Co potřebuješ</h3><ul><li>Notebook</li><li>Smartphone</li><li>Telefon</li><li>Organizační schopnosti</li></ul>'
    whatNeedTitle: 'Co musí mít:'
    whatNeedList: '<li>Počítač</li><li>Telefon</li><li>Trpělivost</li>'
    howHelp: 'Jak pomáhá:'
    howHelpList: '<li>Sleduje pohyb a dostupnost kurýrů v dané lokalitě.</li><li>Přiděluje nákupy kurýrům a dohlíží na jejich doručení.</li>'
    whatIsYourGoal: '<h3>Jaký je tvůj ůkol</h3><ul><li>V systému vidíš seznam kurýrů kteří jsou v tvé lokalitě dostupní</li><li>Zároveň vidíš kolik kurýrů má momentálně volno</li><li>Tvůj úkol je dohodnout se s kurýrem kolik toho uveze a zařídit aby nákup doručil</li></ul>'
    callToActionButton: 'Chci být dispečerem'
courier:
    title: 'Kurýr'
    subtitle: 's autem, který nakupuje a doručuje potřebným'
    wannaJoin: 'Chci se stát kurýrem'
    steps: 'Jako <strong>operátor</strong> bys měl najít:<ul> <li> Přiřadit objednávky zadané koordinátorem na jednoho z volných kurýrů </li> <li> Dohlédnout na to aby doručení proběhlo (včasné doručení) </li> <li> Pomáhat řešit problémy které vzniknou po cestě </li> </ul>'
    whatYouNeed: '<h3>Co potřebuješ</h3><ul><li>Telefon</li><li>Auto</li></ul>'
    whatIsYourGoal: '<h3>Jaký je tvůj ůkol</h3><ul><li>Vezmi svoje auto, počkej na objednávku od operátora a vyraž na nákup</li><li>Doruč nákup na místo určení a zajisti <strong>bezpečné</strong> předání</li></ul>'
    callToActionButton: 'Chci být kurýr'
    whatNeedTitle: 'Co musí mít:'
    whatNeedList: '<li>Auto nebo kolo</li><li>Telefon</li>'
    howHelpTitle: 'Jak pomáhá:'
    howHelpList: '<li>Nakupuje podle nákupních seznamů.</li><li>Rozváží nákupy těm, kteří je potřebují.</li><li>Doručuje je tak, aby minimalizoval riziko nákazy.</li>'
registrationFinished:
    thanksTitle: 'Děkujeme za váš zájem'
    thanksDescription: 'V některých lokalitách máme spoustu zájemců a musíme počty jednotlivých dobrovolníků vybalancovat. Počkejte prosím na aktivaci vašeho účtu - dozvíte se o ní tak, že vám přijde e-mail s přihlašovacími údaji.'
operatorDashboard:
    title: 'Operátor / Dispečer'
    promoteTitle: 'Propagace'
    materialShopping: 'Vytisknout materiál - Zařídím vám nákup'
    materialCourier: 'Vytisknout materiál - Hledám řidiče'
    materialCoordinator: 'Vytisknout materiál - Hledám operátora'
courierDashboard:
    title: 'Přehled kurýra'
    subtitle: 'Příjem objednávek'
    readyToWork: 'ZAPNOUT - Jsem připraven k práci'
    tooBusy: 'VYPNOUT - Už nemohu přijímat další objednávky'
    waitingOrders: 'Objednávky které čekají na přiřazení'
    noOrdersYet: 'Zatím žádné objednávky k doručení'
    yourOrders: 'Objednávky které ti byly přiřazeny'
    noYourOrders: 'Momentálně nemáš žádné objednávky k doručení.'
    reload: 'Obnovit'
    edit: 'Přidat poznámku'
    status: 'Oznámit stav'
    picking: 'Vyzvedávám'
    delivering: 'Doručuji'
    delivered: 'Předáno'
    finished: 'Doručeno'
coordinatorDashboard:
    title: 'Pečovatel / koordinátor'
    orders: 'Objednávky'
    makeOrder: 'Vytvořit novou objednávku'
    listOrders: 'Seznam objednávek'
    id: 'ID'
    pickupAddress: 'Adresa k vyzvednutí'
    address: 'Doručovací adresa'
    items: 'Položky obj'
    note: 'Poznámka'
    action: 'Akce'
    detail: 'Detail'
    noOrdersYet: 'Zatím nebyly zadány žádné objednávky.'
    promote: 'Propagace'
orderDetail:
    title: 'Detail objednávky'
    noCourier: 'Kurýr nebyl přiřazen'
    whoDelivers: 'Kdo veze'
    whoAssigned: 'Kdo přiřadil'
    lastUpdate: 'Datum poslední změny'
    created: 'Datum vytvoření'
    note: 'Poznámka k obj.'
    items: 'Položky objednávky'
    address: 'Adresa doručení'
    status: 'Stav obj.'
    id: 'ID obj.'
    back: 'Zpět na seznam obj.'
    makeOrder: 'Vytvořit objednávku'
printMaterial:
    title: 'SousedskaPomoc.cz'
    subtitle: 'Stal/a jsem se součástí komunitního projektu SousedskaPomoc.cz a jsem připraven/a vám pomoci'
    question: 'Potřebujete nakoupit ale nemůžete opustit byt?'
    callToAction: 'Pokud chcete něco zařídit stačí zavolat!'
    contact: 'Jméno a příjmení:'
    phone: 'Telefon:'
    town: 'Město:'
    needHelpCourier: 'Potřebujeme kurýra/dobrovolníka'
    courierTask: 'Jaký je tvůj ůkol'
    courierTaskList: '<ul><li>Vezmi svoje auto, počkej na objednávku od operátora a vyraž na nákup</li><li>Doruč nákup na místo určení a zajisti bezpečné předán</li></ul>'
    courierNeed: 'Co potřebuješ'
    courierNeedList: '<ul><li>Telefon</li><li>Auto</li></ul>'
    courierWannaJoin: 'Pokud se chceš přidat stačí zavolat!'
    operatorWanted: 'Potřebujeme operátora'
    operatorTask: 'Jako <strong>operátor</strong> bys měl najít:'
    operatorTaskList: '<ul><li>Přiřadit objednávky zadané koordinátorem na jednoho z volných kurýrů</li><li>Dohlédnout na to aby doručení proběhlo (včasné doručení)</li><li>Pomáhat řešit problémy které vzniknou po cestě</li></ul>'
    operatorNeed: 'Co potřebuješ'
    operatorNeedList: '<ul><li>Notebook</li><li>Smartphone</li><li>Telefon</li><li>Organizační schopnosti</li></ul>'
    operatorWannaJoin: 'Pokud se chceš přidat stačí zavolat!'
    meteDescription: 'webová stránka sloužící k organizaci dobrovolníků pro doručování zboží lidem, kteří si na nákup nemohou nebo nesmějí dojít.'
dashboard:
    title: 'Sekce pro přihlášené'
    coordinatorSection: 'Přejít do sekce pro koordinátory'
    coordinator: 'Koordinátor'
    operatorSection: 'Přejít do sekce pro operátory'
    operator: 'Operátor'
    courierSection: 'Přejít do sekce pro kurýry'
    courier: 'Kurýr'
    actualStatistics: 'Aktuální statistiky'
order:
    title: 'Přiřazení objednávek'
    header: '<th>Objednávky k přiřazení</th><th>Objednávky které se doručují</th><th>Objednávky které jsou doručené</th>'
    picking: 'Kurýr vyzvedává'
    delivering: 'Kurýr doručuje'
    delivered: 'Kurýr doručil'
    statusNew: 'Nová'
    statusAssigned: 'Přiřazená'
    statusPicking: 'Kurýr vyzvedává'
    statusDelivering: 'Kurýr doručuje'
    statusDelivered: 'Kurýr doručil'
seamstress:
    wannaJoin: 'Chci se stát švadlenou'
    title: 'Švadlena'
    subtitleHome: 'šije roušky a připravuje je k odběru'
    subtitle: 'Aktuální akce'
    itemsLabel: 'Počet roušek'
    button: 'Poslat žádost o vyzvednutí'
    makeOrder: 'Požádat o vyzvednutí roušek'
    orders: 'Dodávky'
    address: 'Adresa'
    items: 'Počet roušek'
    noOrdersYet: 'Zatím žádné dodávky'
    readyToWork: 'Jsem připraven/a šít roušky'
    tooBusy: 'Již nebudu šít roušky'
    whatNeedTitle: 'Co musí mít:'
    whatNeedList: '<li>Šikovné ruce</li><li>Šicí stroj, látky, gumičky</li><li>Telefon</li>'
    howHelpTitle: 'Jak pomáhá:'
    howHelpList: '<li>Šije látkové roušky.</li><li>Shromažďuje je a připravuje kurýrům kodběru.</li>'
    callToActionButton: 'Chci být švadlenou'
profile:
    title: 'Můj profil'
    enterTown: 'Změnit adresu kde rozvážím'
    success: 'Profil byl úspěšně upraven. Změna pozic se projeví po opětovném přihlášení.'
    fail: 'Tento e-mail je již použit jiným uživatelem'
    edit: 'Upravit profil'
    button: 'Uložit'
headquarters:
	title: 'Velín'
