services:
	- SousedskaPomoc\Model\OrderManager
	- SousedskaPomoc\Model\UserManager
	router: SousedskaPomoc\Router\RouterFactory::createRouter
	#Authenticator
	authenticator: SousedskaPomoc\Components\Authenticator
	# Forms
	- SousedskaPomoc\Forms\FormFactory
	- SousedskaPomoc\Forms\SignInFormFactory
	- SousedskaPomoc\Forms\SignUpFormFactory
	# Components
	- SousedskaPomoc\Components\Mail
	- SousedskaPomoc\Components\ICreateTownEventFormInterface
	- SousedskaPomoc\Components\IRegisterVolunteerFormInterface
	- SousedskaPomoc\Components\IEditVolunteerFormInterface
	- SousedskaPomoc\Components\IDemandFormInterface
	- SousedskaPomoc\Components\ICreateOrderFormInterface
	- SousedskaPomoc\Components\IEditOrderFormInterface
	- SousedskaPomoc\Components\Suggester\ISuggesterTownInterface
	- SousedskaPomoc\Components\Suggester\ISuggesterAddressInterface
	# Repositories
	addressRepository:
		class: SousedskaPomoc\Repository\AddressRepository
		factory: @Doctrine\ORM\EntityManagerInterface::getRepository('SousedskaPomoc\Entities\Address')
	demandRepository:
		class: SousedskaPomoc\Repository\DemandRepository
		factory: @Doctrine\ORM\EntityManagerInterface::getRepository('SousedskaPomoc\Entities\Demand')
	orderRepository:
		class: SousedskaPomoc\Repository\OrderRepository
		factory: @Doctrine\ORM\EntityManagerInterface::getRepository('SousedskaPomoc\Entities\Order')
	roleRepository:
		class: SousedskaPomoc\Repository\RoleRepository
		factory: @Doctrine\ORM\EntityManagerInterface::getRepository('SousedskaPomoc\Entities\Role')
	transportRepository:
		class: SousedskaPomoc\Repository\TransportRepository
		factory: @Doctrine\ORM\EntityManagerInterface::getRepository('SousedskaPomoc\Entities\Transport')
	volunteerRepository:
		class: SousedskaPomoc\Repository\VolunteerRepository
		factory: @Doctrine\ORM\EntityManagerInterface::getRepository('SousedskaPomoc\Entities\Volunteer')
	callRouletteRepository:
		class: SousedskaPomoc\Repository\CallRouletteRepository
		factory: @Doctrine\ORM\EntityManagerInterface::getRepository('SousedskaPomoc\Entities\CallRoulette')
	twilioWebhookRepository:
		class: SousedskaPomoc\Repository\TwilioWebhookRepository
		factory: @Doctrine\ORM\EntityManagerInterface::getRepository('SousedskaPomoc\Entities\TwilioWebhook')
	#Commands
	- SousedskaPomoc\Command\MigrateDbCommand