services:
	- SousedskaPomoc\Model\OrderManager
	- SousedskaPomoc\Model\UserManager
	- SousedskaPomoc\Forms\FormFactory
	- SousedskaPomoc\Forms\SignInFormFactory
	- SousedskaPomoc\Forms\SignUpFormFactory
	- SousedskaPomoc\Components\Mail
	router: SousedskaPomoc\Router\RouterFactory::createRouter
