<!DOCTYPE html>
<html lang="cs">
<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <title>{_templates.printMaterial.title}</title>
    <meta name="description"
          content="{_templates.printMaterial.metaDescription}"/>
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <link rel="stylesheet" href="{$basePath}/css/style.css">
</head>

<body>
<h1>{_templates.printMaterial.title}</h1>
<h2>{_templates.printMaterial.subtitle}</h2>
{if $id == "shopping"}
    <h2>{_templates.printMaterial.question}</h2>
    <h2>{_templates.printMaterial.callToAction}</h2>
    <h3>{_templates.printMaterial.contact} {$user->getIdentity()->data['personName']}</h3>
    <h3>{_templates.printMaterial.phone} {$user->getIdentity()->data['personPhone']}</h3>
    <h3>{_templates.printMaterial.town} {$user->getIdentity()->data['town']}</h3>
{/if}
{if $id == "courierWanted"}
    <h2>{_templates.printMaterial.needHelpCourier}</h2>
    <div class="font-size: 16px">
        <h3>{_templates.printMaterial.courierTask|noescape}</h3>
        {_templates.printMaterial.courierTaskList|noescape}


        <h3>{_templates.printMaterial.courierNeed|noescape}</h3>
        {_templates.printMaterial.courierNeedList|noescape}

        <h2>{_templates.printMaterial.courierWannaJoin}</h2>
        <h3>{_templates.printMaterial.contact} {$user->getIdentity()->data['personName']}</h3>
        <h3>{_templates.printMaterial.phone} {$user->getIdentity()->data['personPhone']}</h3>
        <h3>{_templates.printMaterial.town} {$user->getIdentity()->data['town']}</h3>
    </div>
{/if}
{if $id == "operatorWanted"}
    <h2>{_templates.printMaterial.operatorWanted}</h2>
    <div class="font-size: 16px">
        <p>{_templates.printMaterial.operatorTask|noescape}</p>
        {_templates.printMaterial.operatorTaskList|noescape}

        <h3>{_templates.printMaterial.operatorNeed}</h3>
        {_templates.printMaterial.operatorNeedList|noescape}

        <h2>{_templates.printMaterial.operatorWannaJoin}</h2>
        <h3>{_templates.printMaterial.contact} {$user->getIdentity()->data['personName']}</h3>
        <h3>{_templates.printMaterial.phone} {$user->getIdentity()->data['personPhone']}</h3>
        <h3>{_templates.printMaterial.town} {$user->getIdentity()->data['town']}</h3>

    </div>
{/if}
</body>
</html>
