{layout "../appLayout.latte"}
{block content}
{include "headquartersMenu.latte"}
<div class="row">
	<div class="col-md-12">
		<h2>Poptávky z webu</h2>
	</div>
	<div class="col-md-12">
		{control demandsDataGrid}
	</div>
