{block content}

<div class="row justify-content-center">
    <div class="col-md-8 col-lg-6">
        {*
		<p class="alert alert-danger">
            {_templates.header.recommendation|noescape}
        </p>
		*}
        {include bootstrap-form signInForm}
		<a n:href="Homepage:lostPassword">Zapomenuté heslo</a>
    </div>
</div>
<br/>
