.navbar-nav li.nav-item a.nav-link {
	color: #6B3CCC;
}

.orderDiv {
    border: 1px solid rgba(0,0,0,.075);
    padding: 5px;
}

.orderDiv:hover {
    background: #e2e3e5;
}

.alert-secondary {
    background: rgba(0,0,0,.075);
}
