h1 {
    padding: 10px 0;
    display: inline-block;
    margin-bottom: 0;
}

p, h1, h2, h3, h4, h5 {
    color: #333
}

a {
    color: #444;
    -moz-transition: all .1s ease-in;
    -o-transition: all .1s ease-in;
    -webkit-transition: all .1s ease-in;
    transition: all .1s ease-in;
}

a:hover {
    text-decoration: none;
    color: #111;
}

small {
    display: block;
    text-align: right;
    margin-top: -10px;
    font-size: 60%;
    color: #666;
}

h2 {
    font-size: 1.5rem;
    margin-top: 20px;
    padding-bottom: 10px;
    margin-bottom: 0;
    padding-top: 10px;
}

h3 {
    font-size: 1.2rem;
    margin-top: 20px;
}

ul {
    padding-left: 20px;
    margin-bottom: 20px;
}

li {
    list-style-type: circle;
}

.hide-till--xs {
    display: none;
}

.hide-till--md {
    display: none;
}

.bg-color--light-grey {
    background-color: rgba(0,0,0,.05);
}

.quest {
    margin-bottom: 20px;
    border-bottom: 1px solid rgba(0,0,0,.1);
    border-top: 1px solid rgba(0,0,0,.1);
}

.quest p a {
    margin-top: 20px;
}

.header {
    border-bottom: 1px solid rgba(0,0,0,.1);
    margin-bottom: 20px;
    margin-left: 0;
    margin-right: 0;
}

.footer {
    margin-left: 0;
    margin-right: 0;
    border-top: 1px solid rgba(0,0,0,.1);
    padding: 20px 10px;
}

.navigation {
    width: 50px;
    height: 50px;
    border-radius: 2px;
    background-color: #ddd;
    cursor: pointer;
    position: relative;
    border: 1px solid #ccc;
}

.navigation.burger-active{
    border-bottom: none;
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
}

.navigation ul {
    display: none;
    position: absolute;
    top: -1px;
    right: 0;
    background-color: #ddd;
    z-index: 1;
    margin-right: -1px;
    border: 1px solid #ccc;
    padding: 10px;

}

.navigation ul.show {
    display: block;
    width: 91vw;
    text-align: center;
    max-width: 295px;
    padding-top: 30px;
    border-radius: 2px;
}

.navigation .burger-area {
    width: 100%;
    height: 100%;
}

.navigation ul li{
    display: block;
    list-style-type: none;
    padding: 10px 10px;
}

.navigation ul li a {
    padding: 5px;
    position: relative;
}

.burger {
    position: absolute;
    transform: translate(50%, -50%);
    top: 50%;
    right: 50%;
    z-index: 2;
}

.bar1, .bar2, .bar3 {
    width: 35px;
    height: 3px;
    background-color: #333;
    margin: 6px 0;
    transition: 0.4s;
  }
  
.burger-active .bar1 {
-webkit-transform: rotate(-45deg) translate(-4px, 5px);
transform: rotate(-45deg) translate(-4px, 5px);
}

.burger-active .bar2 {opacity: 0;}

.burger-active .bar3 {
-webkit-transform: rotate(45deg) translate(-8px, -8px);
transform: rotate(45deg) translate(-8px, -8px);
}

.footer p {
    margin-bottom: 0;
}

form {
    margin-top: 20px;
}

.alert {
    margin: 30px auto;
}

.alert a {
    font-weight: 600;
}

.flex {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
}

.flex-1 {
    flex: 1;
}


/** xs -420 **/

@media screen and (min-width: 420px) {
    .hide-till--xs {
        display: inline-block;
    }

    .hide-xs {
        display: none;
    }

    h1 {
        font-size: 2rem;
    }

    small {
        font-size: 65%;
    }
} 

@media screen and (min-width: 576px) {
    .quest {
        background-color: transparent;
    }
}

/** md **/
@media screen and (min-width: 768px) {
    h1 {
        font-size: 2.4rem;
    }

    h2 {
        font-size: 1.7rem;
        border-bottom: 1px solid rgba(0,0,0,.1);
    }

    h3 {
        font-size: 1.3rem;
    }

    .hide-md {
        display: none;
    }

    .hide-till--md {
        display: flex;
    }

    .quest {
        border-bottom: none;
        border-top: none;
    }

    .navigation {
        width: auto;
        height: auto;
        border-radius: 0px;
        background-color: transparent;
        cursor: auto;
        position: relative;
        border: none;
    }

    .navigation ul {
        background-color: transparent;
        position: static;
        margin-bottom: 0;
        display: block;
        padding: 0;
        border: none;
    }

    .burger {
        display: none;
    }

    .navigation ul li {
        padding: 0 10px;
        display: inline-block;
    }

    .navigation ul li a:before {
        content: "";
        position: absolute;
        width: 100%;
        height: 2px;
        bottom: 0;
        left: 0;
        background-color: #111;
        visibility: hidden;
        transform: scaleX(0);
        transition: all 0.3s ease-in-out;
    }
    
    .navigation ul li a:hover:before {
        visibility: visible;
        transform: scaleX(1);
    }
}

@media screen and (min-width: 1200px) {
    h1 {
        font-size: 2.7rem;
    }

    h2 {
        font-size: 2rem;
    }

    h3 {
        font-size: 1.7rem;
    }
}