body, html {
	height: 100%;
	margin: 0;
}

body {
	display: grid;
}

p, span, h1, h2, h3, h4, h5, h6, b {
	color: #262626;
	font-family: Karmina, arial;
}

.pos--fixed {
	position: fixed;
}

.logos img {
	max-width: 150px;
	max-height: 150px;
	margin: 15px;
}

.thank-you-need-help p, .thank-you-need-help p span {
	font-family: Poppins, arial;
}

.top {
	top: 0;
}

.block {
	display: block;
}

.color--purple {
	color: #6923CB;
}

.btn.btn-lg {
	font-size: 1.25rem;
	line-height: 1.5;
	font-weight: 100 !important;
}

.flex {
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flexbox;
	display: -ms-flex;
	display: flex;
}

.row {
	padding-top: 100px; 
	padding-bottom: 100px;
}

.row .row {
	padding-top: 0;
	padding-bottom: 0;
}

.main-content>.row:first-child {
	padding-top: 0;
	padding-bottom: 0;
}

.main-content>.row:last-of-type {
	padding-bottom: 100px;
}

.header-banner {
	padding-top: 0px;
}

.header-banner .row{
	padding-top: 0;
	padding-bottom: 0;
}

.header-banner .row.header-banner__buttons{
	padding-top: 50px;
	padding-bottom: 100px;
}

.header-banner__buttons a {
	margin: 20px auto;
}

.header {
	padding-top: 0;
	padding-bottom: 0;
}

#banner {
	padding: 20px 10px;
}

.navigation {
	width: 50px;
	height: 50px;
	top: -10px;
	border-radius: 2px;
	background-color: #ddd;
	cursor: pointer;
	position: relative;
	border: 1px solid #ccc;
}

.navigation.burger-active {
	border-bottom: none;
	border-bottom-left-radius: 0;
	border-bottom-right-radius: 0;
}

.navigation ul {
	display: none;
	position: absolute;
	top: -1px;
	right: 0;
	background-color: #fff;
	z-index: 1;
	margin-right: -1px;
	border: 1px solid #ccc;
	padding: 10px;

}

.navigation ul.show {
	display: block;
	width: 91vw;
	text-align: center;
	max-width: 295px;
	padding-top: 30px;
	border-radius: 2px;
}

.navigation .burger-area {
	width: 100%;
	height: 100%;
}

.navigation ul li {
	display: block;
	list-style-type: none;
	padding: 10px 10px;
}

.burger {
	position: absolute;
	transform: translate(50%, -50%);
	top: 50%;
	right: 50%;
	z-index: 2;
}

.bar1, .bar2, .bar3 {
	width: 35px;
	height: 3px;
	background-color: #333;
	margin: 6px 0;
	transition: 0.4s;
}

.burger-active .bar1 {
	-webkit-transform: rotate(-45deg) translate(-4px, 5px);
	transform: rotate(-45deg) translate(-4px, 5px);
}

.burger-active .bar2 {
	opacity: 0;
}

.burger-active .bar3 {
	-webkit-transform: rotate(45deg) translate(-8px, -8px);
	transform: rotate(45deg) translate(-8px, -8px);
}

.js-scroll-fix-wrapper {
	position: relative;
}

.js-scroll-fix.bottom-of-page {
	position: absolute;
	bottom: 0;
	top: auto;
}

.footer-wrapper {
	margin-top: auto;
}

.footer.row {
	padding-bottom: 0;
}

.footer {
	margin-top: 60px;
	padding-top: 20px;
	border-top: 1px solid #262626;
}

.footer p {
	font-size: 16px;
	line-height: 30px;
	font-family: Poppins, arial;
}

.footer p a {
	font-weight: Bold;
	color: #262626;
}

.footer .bigger-font {
	font-size: 24px;
	line-height: 40px;
	font-family: Karmina, arial;
	font-weight: 300;
}

.footer .smaller-font {
	font-size: 18px;
	line-height: 46px;
	font-family: Poppins, arial;
	margin-top: 40px;
	margin-bottom: 20px;
	font-weight: 300;
}

.footer .smaller-font a {
	font-weight: 300;
	width: 60px;
	height: 60px;
	margin: 0 18px;
	background-color: #F9F8FF;
	text-align: center;
	border-radius: 100%;
	display: inline-block;
	color: #6923CB;
	position: relative;
}

.footer .smaller-font a:hover {
	background-color: #6923CB;
	color: #fff;
}

.footer .smaller-font a i {
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
}

.logo {
	height: 120px;
	display: block;
}

.logo img {
	max-height: 100%;
}

.navigation li {
	display: inline-block;
	padding: 0 20px;
}

.navigation li a {
	text-decoration: underline;
	font-size: 16px;
	line-height: 25px;
	font-family: Poppins, arial;
	letter-spacing: 0;
	color: #3B3B3B;
}

.navigation li a.btn {
	color: #fff;
	text-decoration: none;
}

h1 {
	padding: 10px 0;
	display: block;
	margin-bottom: 0;
	text-align: center;
	font-weight: 300;
	font-size: 30px;
	line-height: 46px;
	font-family: Karmina, arial;
	max-width: 100%;
	margin: 20px auto;
}

h1 ~ p {
	font-size: 18px;
	line-height: 36px;
	font-family: Poppins, arial;
	color: #6F6F6F;
}

.small-order-2 {
	order: 2;
}

.margin-top-50 {
	margin-top: 0px;
}

.box-w-list--wrapper ul {
	padding-left: 0;
	display: flex;
	flex-direction: column;
}

.box-w-list--wrapper li {
	display: inline-block;
	width: 100%;
	text-align: center;
	padding: 0px;
	margin-bottom: 40px;
}

.box-w-list--wrapper.subpage li {
	margin-bottom: 80px;
}

.box-w-list--wrapper.subpage h4 {
	margin-top: 20px;
}

.box-w-list--wrapper.subpage p {
	margin-bottom: 30px;
	font-size: 14px;
	line-height: 26px;
}

.box-w-list--wrapper li span {
	display: block;
	height: 69px;
	line-height: 65px;
}

.box-w-list--wrapper li span img {
	vertical-align: middle;
}

.box-w-list--wrapper li .num {
	display: block;
	width: 69px;
	height: 69px;
	border-radius: 100%;
	text-align: center;
	font-size: 30px;
	background-color: #6923CB;
	color: #fff;
	line-height: 65px;
	margin: 0px auto;
}

.box-w-list--wrapper li .num-2 {
	background-color: #8A3EFF;
}

.box-w-list--wrapper li .num-3 {
	background-color: #A073FF;
}

.box-w-list--wrapper li h4 {
	font-family: Poppins, arial;
	font-size: 22px;
	line-height: 36px;
	font-weight: bold;
	margin-top: 39px;
}

.box-w-list--wrapper li p {
	text-align: center;
	font-family: Poppins, arial;
	font-weight: 300;
	font-size: 18px;
	line-height: 36px;
	letter-spacing: 0;
	color: #6F6F6F;
}


.bg-color {
	background-color: #F9F8FF;
}

.how-it-works {
	background-color: #F9F8FF;
}

.padding-100 {
	padding-top: 100px;
	padding-bottom: 100px;
}

h3 {
	font-size: 40px;
	line-height: 50px;
	margin-bottom: 80px;
}

.content-w-pic {
	margin-bottom: 120px;
}

.content-w-pic > div.col-md-4 {
	max-height: 200px;
	overflow: hidden;
	margin-bottom: 20px;
}

.content-w-pic img {
	max-width: 100%;
}

.content-w-pic--text-wrap--list {
	justify-content: space-between;
	margin-bottom: 20px;
	flex-direction: column;
}

.content-w-pic--text {
	padding-left: 30px;
	width: 100%;
}

.content-w-pic-wrapper {
	align-items: center;
}

.no-margin-sides {
	margin-left: 0;
	margin-right: 0;
}

.btn {
	font-size: 16px;
	line-height: 25px;
	font-family: Poppins, arial;
	color: #fff;
	border-radius: 50px;
	padding: 11px 20px;
	-moz-transition: all .1s ease-in;
	-o-transition: all .1s ease-in;
	-webkit-transition: all .1s ease-in;
	transition: all .1s ease-in;
}

.btn:hover {
	color: #fff;
}

.btn-purple {
	background-color: #6923CB;
}

.btn-purple:hover {
	background-color: #8A3EFF;
}

.btn-purple.invert {
	color: #6923CB;
	border: 1px solid #6923CB;
	background-color: #fff;
}

.btn-purple.invert:hover {
	background-color: #6923CB;
	color: #fff;
}

.btn-green, #frm-signInForm .btn-default, form .btn-primary {
	background-color: #00A270;
	border: 1px solid #00A270;
}

.btn-green:hover,  #frm-signInForm .btn-default:hover, form .btn-primary:hover {
	background-color: #00a270c2;
	border: 1px solid #00a270c2;
}

.content-w-pic--text h4 {
	font-size: 40px;
	line-height: 60px;
	margin-bottom: 20px;
}

.content-w-pic--text-list {
	padding-right: 30px;
	display: block;
}

.content-w-pic--text-list h5 {
	font-weight: Bold;
	font-size: 18px;
	line-height: 30px;
	font-family: Poppins, arial;
}

.content-w-pic--text-list li {
	display: block;
	font-size: 14px;
	line-height: 38px;
	font-family: Poppins, arial;
}

.content-w-pic--text-list ul {
	padding-left: 0;
}

.content-w-pic--text-list li:before {
	content: " ";
	width: 4px;
	height: 4px;
	vertical-align: middle;
	display: inline-block;
	margin-right: 20px;
	margin-left: 2px;
	border-radius: 100%;
	background-color: #6923CB;
}

.notif {
	width: 100%;
	margin: 0px auto;
	text-align: center;
	border-top: 1px solid #262626;
	border-bottom: 1px solid #262626;
	color: #fff;
	padding: 20px;
}

.notif h2 {
	margin: 0px auto;
}

.codex h2 {
	margin-top: 30px;
}

.notif p {
	font-size: 18px;
	line-height: 32px;
	color: #262626;
	margin-bottom: 0;
	padding: 15px 10px;
	max-width: 600px;
	margin: 0px auto;
}

.notif b {
	display: block;
	font-size: 18px;
	line-height: 32px;
	color: #fff;
}

.notif a {
	color: #262626 !important;
}

.page--role-info h4, .page--role-info p, .page--role-info ol {
	margin: 25px auto;
	display: block;
}

.page--role-info h4 {
	text-transform: uppercase;
	margin-top: 50px;
	font-family: Poppins, arial;
    font-size: 22px;
    line-height: 36px;
    font-weight: bold;
}

.page--role-info p, .page--role-info li, .page--role-info label, .page--role-info li b {
	font-family: Poppins, arial;
    font-weight: 300;
    font-size: 18px;
    line-height: 36px;
    letter-spacing: 0;
}

.page--role-info li b {
	font-weight: 600;
}

.page--role-info ol {
	padding-left: 20px;
}

.page--role-info li {
	padding-left: 10px;
	padding-bottom: 10px;
}

.page--role-info label {
	margin-bottom: 0;
}

.page--role-info h3 {
	margin-bottom: 0;
}

@media screen and (min-width: 576px) {
	.header-banner__buttons a {
		margin: 0px auto;
	}
}

@media screen and (min-width: 620px) {
	.notif {
		margin-top: 0;
	}
}

@media screen and (min-width: 768px) {
	.navigation {
		width: auto;
		height: auto;
		border-radius: 0px;
		background-color: transparent;
		cursor: auto;
		position: relative;
		border: none;
		top: 0;
	}

	.logo {
		height: 100px;
	}

	.header-banner {
		padding-top: 30px;
	}

	.small-order-2 ~ .col-md-4 {
		order: 2;
	}

	.page--role-info h3 {
		margin-bottom: 40px;
	}

	.navigation ul {
		background-color: transparent;
		position: static;
		margin-bottom: 0;
		display: block;
		padding: 0;
		border: none;
	}

	.burger {
		display: none;
	}

	.navigation ul li {
		padding: 0 10px;
		display: inline-block;
	}
}

@media screen and (min-width: 920px) {
	#banner {
		margin-bottom: 60px;
	}

	.btn.btn-lg {
		line-height: 2;
		padding: 11px 28px;
	}

	.margin-top-50 {
		margin-top: 50px;
	}

	.page--role-info h3 {
		margin-bottom: 60px;
	}

	.box-w-list--wrapper:not(.subpage) ul {
		flex-direction: row;
	}

	.box-w-list--wrapper:not(.subpage) li {
		display: inline-block;
		width: calc(100% / 3);
		text-align: center;
		padding: 0 10px;
		margin-bottom: 0;
	}

	.box-w-list--wrapper.vertical, .box-w-list--wrapper.vertical ul {
		flex-direction: column;
	}

	.box-w-list--wrapper.vertical li{
		width: 100%;
	}

	.box-w-list--wrapper.vertical li {
		margin-bottom: 30px;
	}

	.content-w-pic--text-list {
		display: inline-block;
	}

	.content-w-pic > div.col-md-4 {
		max-height: 1000px;
		overflow: none;
		margin-bottom: 0;
	}
}

@media screen and (min-width: 992px) {
	.footer .bigger-font {
		font-size: 30px;
		line-height: 50px;
	}

	footer p {
		font-size: 18px;
		line-height: 32px;
		font-family: Poppins, arial;
	}

	.header-banner .row.header-banner__buttons{
		padding-top: 100px;
		padding-bottom: 100px;
	}

	.logo {
		height: 130px;
		display: block;
	}

	.box-w-list--wrapper.subpage ul {
		flex-direction: row;
		flex-wrap: wrap;
	}

	.box-w-list--wrapper.subpage li {
		width: 50%;
		display: flex;
		flex-direction: column;
		align-items: center;
		padding: 20px;
		padding-bottom: 40px;
	}

	.box-w-list--wrapper.subpage li p {
		margin-bottom: 40px;
		margin-top: 20px;
		flex: 1;
		font-size: 18px;
		line-height: 36px;
	}

	.box-w-list--wrapper.vertical li h4 {
		margin-top: 0px;
		margin-bottom: 10px;
	}

	.box-w-list--wrapper.subpage h4 {
		margin-top: 10px;
	}

}

@media screen and (min-width: 1200px) {
	.notif {
		width: 90%;
		padding: 20px;
	}

	h1 {
		font-size: 40px;
		margin-bottom: 50px;
	}

	.logo {
		height: 150px;
	}

	.thank-you-need-help p span, .thank-you-need-help p{
		font-size: 22px;
		line-height: 44px;
		font-family: Poppins, arial;
		font-weight: 500;
		letter-spacing: 0;
	}

	.content-w-pic--text-wrap--list {
		flex-direction: row;
	}

	.notif p {
		font-size: 20px;
		line-height: 40px;
		color: #262626;
		margin-bottom: 0;
	}

	.notif b {
		display: block;
		font-size: 20px;
		line-height: 40px;
		color: #262626;
	}

	h2 {
		font-size: 40px;
		line-height: 60px;
		width: 80%;
	}
}

@media screen and (min-width: 1600px) {

	.container {
		max-width: 1400px;
	}

	footer p {
		font-size: 22px;
		line-height: 36px;
		font-family: Poppins, arial;
	}

	.footer .bigger-font {
		font-size: 40px;
		line-height: 60px;
	}

	.content-w-pic--text-list h5 {
		font-size: 22px;
		line-height: 36px;
	}

	.content-w-pic--text-list li {
		font-size: 18px;
		line-height: 46px;
	}

	.col-xxl-1 {
		flex: 0 0 calc(100% / 12 * 1);
		max-width: calc(100% / 12 * 1);
	}

	.col-xxl-2 {
		flex: 0 0 calc(100% / 12 * 2);
		max-width: calc(100% / 12 * 2);
	}

	.col-xxl-3 {
		flex: 0 0 calc(100% / 12 * 3);
		max-width: calc(100% / 12 * 3);
	}

	.col-xxl-4 {
		flex: 0 0 calc(100% / 12 * 4);
		max-width: calc(100% / 12 * 4);
	}

	.col-xxl-5 {
		flex: 0 0 calc(100% / 12 * 5);
		max-width: calc(100% / 12 * 5);
	}

	.col-xxl-6 {
		flex: 0 0 calc(100% / 12 * 6);
		max-width: calc(100% / 12 * 6);
	}

	.col-xxl-7 {
		flex: 0 0 calc(100% / 12 * 7);
		max-width: calc(100% / 12 * 7);
	}

	.col-xxl-8 {
		flex: 0 0 calc(100% / 12 * 8);
		max-width: calc(100% / 12 * 8);
	}

	.col-xxl-9 {
		flex: 0 0 calc(100% / 12 * 9);
		max-width: calc(100% / 12 * 9);
	}

	.col-xxl-10 {
		flex: 0 0 calc(100% / 12 * 10);
		max-width: calc(100% / 12 * 10);
	}
}
